:root {
    --main-color: rgb(255, 0, 77);
}

html {
    background-color: rgb(17, 24, 44);
    scroll-behavior: smooth;
    color: white;
}

html * {
    box-sizing: border-box  ;
}

body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainColor {
    color: var(--main-color);
}

/* Navbar Section */

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.7px);
    -webkit-backdrop-filter: blur(8.7px);
    position: fixed;
    z-index: 2;
    align-content: center;
    justify-content:   space-between;
    top: 0;
    left: 0;
    color: white
}

#name-and-title {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-transform: uppercase;
    font-size: 0.8rem;
    position: relative;
    left: 5vw;
}

#name-and-title p{
    margin: auto 0;
}

#navlinks {
    position: relative  ;
    right: 5vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-content: center;
}

#navlinks a{
    margin: auto 0;
    text-decoration: none;
    color: aliceblue;
    font-size: 0.8rem;
}

main {
    height: 100%;
    width: 95vw;
    position: relative;
    top: 60px;
    margin: 0 auto;
}
.section {
    height: 600px;
    width: 100%;
}

/* Welcome Section */

#welcome-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

h1 {
    margin: 0;
}

#bigText {
    color: rgb(126, 37, 83);
    margin: 0;
    font-size: 3rem;
}

#bigTextSpan{
    font-size: 2rem;
    color: white;
}

#bigName {
    font-size: 8rem;
    color: rgb(255, 0, 77);
}

#aboutText {
    font-size: 1.5rem;
}

/* Skills Section */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

.sp-container {
    height: 350px;
    width: 520px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
    align-items: center;
 }

 .skill{
    height: 160px;
    width: 120pxpx;
    display: flex;
    flex-direction: column;
    place-items: center;
 }
 
 .logo {
    object-fit: cover;
    height:130px;
    width:150px;
    margin: 0;
    border: 2px solid rgb(255, 0, 77);
    border-radius: 13px;
 }

.spCaption {
    text-align: center;
    margin: auto;
 }

 /* Projects Section */
.sectionp {
    height: 720px;
    width: 100%;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-container {
    height: 480px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-tile {
    height: 216px;
    width: 384px;
    display: flex;
    flex-direction: column;
    place-items: center;
    
}

.p-bg {
    width: 384px;
    border: 2px solid rgb(255, 0, 77);
    border-radius: 13px;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: end;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.neBox {
    width: 250px;
    padding: 5px;
    border-radius: 16px;
    font-size: 1rem;
}

.inText {
    height: 100px;
    width: 504px;
    padding: 5px;
    border-radius: 16px;
    font-size: 1rem;
}

.submitB {
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 16px;
    background: rgb(255, 0, 77);
    border: 1px solid rgb(255, 0, 77);
    color: white;
}

.submitB:hover {
    cursor: pointer;
    background: white;
    color:rgb(255, 0, 77);
}

.submitB:active {
    background: rgb(126, 37, 83);
    color: white;
}

/* Media Queries */

@media (max-width: 430px) {
    
  /* Welcome Section */
    .navbar-tinyText {
        width:0;
        height: 0;
        display: none;
    }


    .section {
        height: 400px;
        width: 100%;
    }


    #bigText {
        color: rgb(126, 37, 83);
        margin: 0;
        font-size: 1.5rem;
    }

    #bigTextSpan{
        font-size: 2rem;
        color: white;
    }

    #bigName {
        font-size: 3rem;
        color: rgb(255, 0, 77);
    }

    #aboutText {
        font-size: 1rem;
    }

    /* Skills Section */
    h2 {
        margin: 0;
    }

    #skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 580px;
    }

    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
    }

    .sp-container {
        height: 400px;
        width: 90vw;
        display: flex;
        column-gap: 50px;
        row-gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
        
    }

    .skill{
        height: 120px;
        width: 80px;
        display: flex;
        flex-direction: column;
        place-items: center;
        
    }
    
    .logo {
        object-fit: cover;
        height:90px;
        width:90px;
        margin: 0;
        border: 2px solid rgb(255, 0, 77);
        border-radius: 13px;
        box-sizing: border-box;
    }

    .spCaption {
        text-align: center;
        margin: auto;
        font-size: .8rem;
    }

 /* Projects Section */
.sectionp {
    height: 720px;
    width: 100%;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-container {
    height: 480px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.project-tile {
    height: 216px;
    width: 384px;
    display: flex;
    flex-direction: column;
    place-items: center;
    
}

.p-bg {
    width: 384px;
    border: 2px solid rgb(255, 0, 77);
    border-radius: 13px;
}

/* Contact Section */
#contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: end;
}

.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.neBox {
    width: 250px;
    padding: 5px;
    border-radius: 16px;
    font-size: 1rem;
}

.inText {
    height: 100px;
    width: 504px;
    padding: 5px;
    border-radius: 16px;
    font-size: 1rem;
}

.submitB {
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 16px;
    background: rgb(255, 0, 77);
    border: 1px solid rgb(255, 0, 77);
    color: white;
}

.submitB:hover {
    cursor: pointer;
    background: white;
    color:rgb(255, 0, 77);
}

.submitB:active {
    background: rgb(126, 37, 83);
    color: white;
}  

}